{% load staticfiles %}
{% load jsonify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    {% block appcss %}
    {% endblock %}
    <title>{% block title %}Perpustakaan{% endblock %}</title>
</head>
<body>
{% block body %}
    body
{% endblock %}
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="text-muted text-center">
            <a href="#" title="Learn about terms of service product">Privacy</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#" title="Learn about terms of service product">Terms of Service</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#" title="Read the libraries and licenses used">Libraries</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#">Help</a>
        </div>
    </div>
</div>
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/flat-ui.min.js' %}"></script>
<!--appscript-->
<script>
    //global variable to store app path/base_dir
    $SCRIPT_ROOT = {{ request.script_root | jsonify | safe }};
</script>
{% block appscript %}{% endblock %}
</body>
</html>