{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="text-center" style="margin-top: 20%">
            <form action="/" method="get">
                <h3>LSI Books</h3>
                <div class="col-sm-offset-3 col-sm-6">
                    <input type="text" id="search" placeholder="Masukkan kata kunci yang ingin dicari" name="q"
                           class="form-control">
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block appscript %}
    <script>
        $(function () {
            $("#search").focus()
        })
    </script>
{% endblock %}