{% extends 'parent.html' %}
{% block container %}
    <div class="col-md-offset-3">
        <div class="col-sm-8">
            {% block body %}
                body parentbody
            {% endblock %}
        </div>
    </div>
{% endblock %}