{% extends 'base.html' %}
{% block body %}
    <nav class="navbar navbar-default navbar-embossed" style="border-radius: 0" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">LSI Books</a>
        </div>
        <div class="nav navbar-nav">
            <form class="navbar-form" action="/" role="search">
                <div class="form-group">
                    <div class="input-group" style="width: 170%">
                        <input class="form-control" value="{{ q }}" name="q" id="search" type="search"
                               placeholder="Masukkan pencarian">
                        <span class="input-group-btn">
            <button type="submit" class="btn"><span class="fui-search"></span></button>
          </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav><!-- /navbar -->
    <div class="container">
        {% block container %}
            <h5>Perpustakaan Apps!</h5>
        {% endblock %}
    </div>

{% endblock %}
<!--appscript-->
{% block appscript %}
    <script>
        (function ($) {
            // Focus state for append/prepend inputs
            $('.input-group').on('focus', '.form-control', function () {
                $(this).closest('.input-group, .form-group').addClass('focus');
            }).on('blur', '.form-control', function () {
                $(this).closest('.input-group, .form-group').removeClass('focus');
            });
            var input = $("#search");
            $('body').on("keydown", function (e) {
                input.focus();
            });
        })(jQuery);
    </script>
{% endblock %}