{% extends 'parent.html' %}
{% block container %}
    <div class="col-sm-offset-1 col-sm-10">
        <span style="font-size: 14px">{{ detail_result }}</span>
        <hr>
        {% for item in sim %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <a href="{% url 'show_book' item.0.id %}">{{ item.0.judul }}</a>
                        <span class="label-info label pull-right">{{ item.1.1 }}%</span>
                    </h1>
                </div>
                <div class="panel-body">
                    <p><a class="panel-title"
                          href="{% url 'show_book' item.0.id %}">{{ item.0.get_splitted_keterangan|safe }}</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}