{% extends 'parent.html' %}
{% load staticfiles %}
{% block container %}
    <div class="col-md-4">
        <img style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" class="media-object"
             src="{% static 'books/' %}{{ book.cover }}"
             alt="cover">
    </div>
    <div class="col-md-8">
        <h5>{{ book.judul }}</h5>
        {{ book.keterangan|safe }}
        <hr>
        <span class="label label-primary">
            Penerbit: {{ book.penulis }} Pub. Tahun: {{ book.tahunTerbit|default:"2005" }}
        </span>
        &nbsp;
        <span class="label-primary label">
            Kode Buku: {{ book.kodeBuku_ }}
        </span>
    </div>
{% endblock %}