{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block title %}Test Query{% endblock %}
{% block container %}
    <h5>Pengujian Query</h5>
    <hr>
    <div class="alert-container"></div>
    <div class="col-sm-8">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="query" class="col-sm-3 control-label">Masukkan query</label>
                <div class="col-sm-7">
                    <form id="searchBooks">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="searchBooks">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Masukkan query ...">
                            <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="fa fa-search"></span>
                        </button>
                    </span>
                        </div>
                    </form>
                </div>
            </div>
            <form id="testQuery">
                {% csrf_token %}
                <input type="hidden" name="action" value="testQuery">
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Pencarian sistem
                        <a href="#"><span class="badge" id="badgePencarianSistem"></span></a>:
                    </label>
                    <div class="col-sm-7">
                        <span id="hasilPencarianView"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-3 control-label">Pencarian manual:</label>
                    <div class="col-sm-7">
                        <input name="manual" class="tagsinput" data-role="tagsinput"/>
                    </div>
                </div>
                <div class="form-group" id="scores">
                    <div class="col-sm-offset-3 col-sm-7">
                        <div class="label-primary label">Skor precision: <span id="precision"></span>%</div>
                        <div class="label label-primary">Skor recall: <span id="recall"></span>%</div>
                        <div class="label label-primary">Skor f1-measure: <span id="f1"></span>%</div>
                        <div id="url"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-7">
                        <button id="calculateScore" class="btn btn-primary">Hitung skor</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-4">
        <canvas id="myChart" width="800" height="800"></canvas>
    </div>
{% endblock %}
{% block appscript %}
    <script src="{% static 'js/buildchartdata.js' %}"></script>
    <script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script>

        function getAlertHtml(data, type) {
            if (data instanceof Array) {
                alerts = "";
                for (i = 0; i < data.length; i++) {
                    alerts += "<li>" + data[i] + "</li>";
                }
                data = "<ul>" + alerts + "</ul>";
            }
            return "<div class='alert alert-" + type + " alert-dismissable'><a href=# class=close data-dismiss=alert aria-label=close>&times;</a>" + data + "</div>";
        }

        var kodeBukus = []
        var query = ''
        var found = []
        var ctx = $("#myChart")
        var myChart;
        $("#scores").hide()
        $("#badgePencarianSistem").click(function () {
            $("#hasilPencarianView").toggle()
        });
        $("#searchBooks").submit(function (form) {
            form.preventDefault()
            $.ajax({
                url: $SCRIPT_ROOT + '/auth/performTestQuery/',
                type: 'POST',
                data: $("#searchBooks").serializeArray(),
                success: function (response) {
                    kodeBukus = []
                    ids = []
                    query = response.query
                    found = response.found
                    dataSource = response.data_source
                    chartData = chartData
                    chartData.datasource = dataSource

                    if (myChart != null)
                        myChart.destroy()
                    myChart = new Chart(ctx, {
                        type: 'bubble',
                        data: {
                            labels: chartData.label(),
                            datasets: [{
                                label: 'Similarity',
                                data: chartData.bubbleChartData(),
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ]
                            }]
                        },
                    })
                    html = ""
                    found.forEach(function (item) {
                        kodeBukus.push(item.kodeBuku)
                        a = "<a class='label label-primary' target='blank' href='" + item.showBookUrl + "'>" + item.kodeBuku + " <span style='font-size: 11px' class='fa fa-external-link'></span></a> "
                        html += a
                    })
                    $("#badgePencarianSistem").text(kodeBukus.length)
                    $("#hasilPencarianView").html(html)
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText)
                }
            });
        })

        $("#testQuery").submit(function (form) {
            form.preventDefault()
            $('.alert-container').hide()
            data = $("#testQuery").serializeArray()
            console.log(kodeBukus)
            data.push({name: 'system', value: kodeBukus})
            data.push({name: 'q', value: query})
            $("#scores").hide()
            $.ajax({
                url: $SCRIPT_ROOT + '/auth/performTestQuery/',
                type: 'POST',
                data: data,
                success: function (response) {
                    scores = response.scores
                    url = "<a target='_blank' href='" + response.url + "'>Lihat selengkapnya disini</a>"
                    $("#scores").slideDown()
                    $("#precision").text(scores.precision_score)
                    $("#recall").text(scores.recall_score)
                    $("#f1").text(scores.f1_score)
                    $("#url").html(url)
                },
                error: function (xhr, status, error) {
                    $('.alert-container').show()
                    $('.alert-container').html(getAlertHtml(xhr.responseText, 'danger'));
                }
            });
        })
    </script>
{% endblock %}