{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block title %}Test Book{% endblock %}
{% block container %}
    <h5>Pengujian Buku</h5>
    <hr>
    <div class="alert-container"></div>
    <form id="formUjiBuku" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="pilihBuku" class="col-sm-2 control-label">Kode Buku:</label>
            <div class="col-sm-7">
                <input type="text" id="kodeBuku" name="kodeBuku" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label for="pilihBuku" class="col-sm-2 control-label">Buku belum diuji:</label>
            <div class="col-sm-7">
                <span id="untested"></span>
            </div>
        </div>
        <div class="form-group" id="urlToLogContainer">
            <div class="col-sm-offset-2 col-sm-7">
                <div class="alert-success alert">
                    <span id="urlToLog"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
                <input type="submit" value="Uji Buku" class="btn btn-primary">
            </div>
        </div>
    </form>
{% endblock %}
{% block appscript %}
    <script>

        function getAlertHtml(data, type) {
            if (data instanceof Array) {
                alerts = "";
                for (i = 0; i < data.length; i++) {
                    alerts += "<li>" + data[i] + "</li>";
                }
                data = "<ul>" + alerts + "</ul>";
            }
            return "<div class='alert alert-" + type + " alert-dismissable'><a href=# class=close data-dismiss=alert aria-label=close>&times;</a>" + data + "</div>";
        }
        var d
        $(function () {
            $.ajax({
                url: $SCRIPT_ROOT + '/auth/untestedBooks/',
                type: 'GET',
                success: function (data) {
                    d = data
                    con = ""
                    for (i = 0; i < d.untested.length; i++) {
                        con += "<a href='#'><span onclick='setTestBookValue($(this))' class='label label-info'>" + data.untested[i] + "</span></a> "
                    }
                    $("#untested").html(con)
                }
            })
        });

        function setTestBookValue(element) {
            $("#kodeBuku").val(element.context.innerHTML)
            element.hide()
        }

        $("#urlToLogContainer").hide()
        $("#formUjiBuku").submit(function (form) {
            form.preventDefault();
            $('.alert-container').hide()
            $("#urlToLogContainer").hide()
            $.ajax({
                url: $SCRIPT_ROOT + '/auth/performTestBook/',
                type: 'POST',
                data: $("#formUjiBuku").serializeArray(),
                success: function (response) {
                    $("#urlToLogContainer").slideDown()
                    $("#urlToLog").html("Pengujian berhasil, klik link dibawah untuk melihat hasil<br>" +
                        "<a href='" + response.url + "' target='blank'>Lihat hasil pengujian</a>")
                },
                error: function (xhr, status, error) {
                    $('.alert-container').show()
                    $('.alert-container').html(getAlertHtml(xhr.responseText, 'danger'));
                }
            })
        })
    </script>
{% endblock %}