{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block appcss %}
    <link rel="stylesheet" href="{% static 'vendor/swal/sweetalert.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/trumbowyg/ui/trumbowyg.min.css' %}">
{% endblock %}
{% block title %}Edit buku{% endblock %}
{% block container %}
    <h5><span class="fa fa-pencil-square"></span> Buku</h5>
    <hr>
    <div class="alert-container"></div>
    <div class="text-center loadingContainer">
        <span class="fa fa-circle-o-notch fa-spin fa-3x"></span>
    </div>
    <br>
    <form class="form-horizontal" id="formAddBook">
        {% csrf_token %}
        <div class="form-group">
            <label for="judul" class="col-sm-2 control-label">Judul</label>
            <div class="col-sm-7">
                <input type="text" value="{{ book.judul }}" class="form-control" name="judul" placeholder="Judul">
            </div>
        </div>
{#        <div class="form-group">#}
{#            <label for="penulis" class="col-sm-2 control-label">Penulis</label>#}
{#            <div class="col-sm-7">#}
{#                <input type="text" value="{{ book.penulis }}" class="form-control" name="penulis" placeholder="Penulis">#}
{#            </div>#}
{#        </div>#}
        <div class="form-group">
            <label for="tahunTerbit" class="col-sm-2 control-label">Tahun terbit</label>
            <div class="col-sm-7">
                <!--this form only work for 2 centuries :p-->
                <input type="text" value="{{ book.tahunTerbit }}" pattern="[0-9]{4}" maxlength="4" class="form-control"
                       name="tahunTerbit"
                       placeholder="Tahun terbit (YYYY)">
            </div>
        </div>
        <div class="form-group">
            <label for="kodeRak" class="col-sm-2 control-label">Kode rak</label>
            <div class="col-sm-7">
                <input type="text" value="{{ book.kodeRak }}" class="form-control" name="kodeRak"
                       placeholder="Kode rak">
            </div>
        </div>
        <div class="form-group">
            <label for="keterangan" class="col-sm-2 control-label">Keterangan</label>
            <div class="col-sm-7">
                <textarea name="keterangan" placeholder="Keterangan"
                          class="form-control" id="editor">{{ book.keterangan }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="cover" class="col-sm-2 control-label">Cover</label>
            <div class="col-sm-7">
                <input type="file" name="cover" class="btn btn-default" placeholder="Cover">
            </div>
        </div>
        <input name="bookid" type="hidden" value="{{ book.id }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-7">
                <button type="submit" class="btn btn-primary">Perbarui</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block appscript %}
    <script src="{% static 'vendor/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/swal/sweetalert.min.js' %}"></script>
    <script src="{% static 'vendor/trumbowyg/trumbowyg.min.js' %}"></script>
    <script>
        var loadingContainer = $('.loadingContainer');
        $("#editor").trumbowyg();
        $(function () {
            loadingContainer.hide();
        });

        function getAlertHtml(data, type) {
            if (data instanceof Array) {
                alerts = "";
                for (i = 0; i < data.length; i++) {
                    alerts += "<li>" + data[i] + "</li>";
                }
                data = "<ul>" + alerts + "</ul>";
            }
            return "<div class='alert alert-" + type + " alert-dismissable'><a href=# class=close data-dismiss=alert aria-label=close>&times;</a>" + data + "</div>";
        }

        $("#formAddBook").submit(function (e) {
            e.preventDefault();
            loadingContainer.show();
            $('.alert-container').hide()
            url = $SCRIPT_ROOT + '/auth/updateBook/';
            $.ajax({
                url: url,
                type: 'POST',
                data: new FormData(this),
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    console.log(response);
                    loadingContainer.hide();
                    if (response.status) {
                        swal("Good job!", response.message, "success");
                        return;
                    }
                    response = (response.message) ? response.message : response;
                    swal("Oops...", response, "error");
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    loadingContainer.hide();
                    $('.alert-container').show()
                    $('.alert-container').html(getAlertHtml(xhr.responseText + " " + xhr.status + " " + error, 'danger'));
                }
            });
        });
    </script>
{% endblock %}