{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block appcss %}
    <link rel="stylesheet" href="{% static 'vendor/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/swal/sweetalert.css' %}">
{% endblock %}
{% block title %}
    Semua buku
{% endblock %}
{% block container %}
    <h5><span class="fa fa-book"></span> Semua Buku
        <a href="{% url 'admin.book_add' %}" class="btn-primary btn btn-sm pull-right"><span class="fa fa-plus"></span>
            Tambah</a>
    </h5>
    <hr>
    {% csrf_token %}
    <table class="table table-responsive table-hover" id="bookstable">
        <thead>
        <tr>
            <th>Kode</th>
            <th>Judul</th>
{#            <th width="200px">Penulis</th>#}
            <th width="100px"><span class="fa fa-question"></span></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.kodeBuku }}</td>
                <td>{{ book.judul }}</td>
{#                <td>{{ book.penulis }}</td>#}
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <a href="{% url 'admin.book_show' book.id %}" class="btn btn-xs btn-primary"><span
                                class="fa fa-eye"></span></a>
                        <a href="{% url 'admin.book_edit' book.id %} " class="btn btn-xs btn-warning"><span
                                class="fa fa-pencil"></span></a>
                        <button type="button" onclick="deleteBook($(this))" book-id="{{ book.id }}"
                                class="btn btn-xs btn-danger">
                            <span class="fa-trash fa"></span></button>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block appscript %}
    <script src="{% static 'vendor/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/swal/sweetalert.min.js' %}"></script>
    <script>
        $("#bookstable").DataTable({
            dom: 'lftiprB',
            buttons: [
                'excelHtml5',
                'pdfHtml5'
            ],
            language: {
                "sProcessing": "Sedang memproses...",
                "sLengthMenu": "Tampilkan _MENU_ entri",
                "sZeroRecords": "Tidak ditemukan data yang sesuai",
                "sInfo": "Menampilkan _START_ sampai _END_ dari _TOTAL_ entri",
                "sInfoEmpty": "Menampilkan 0 sampai 0 dari 0 entri",
                "sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
                "sInfoPostFix": "",
                "sSearch": "Cari:",
                "sUrl": "",
                "oPaginate": {
                    "sFirst": "&laquo;",
                    "sPrevious": "&larr;",
                    "sNext": "&rarr;",
                    "sLast": "&raquo;"
                }
            }
        });

        var deleteBookUrl = $SCRIPT_ROOT + '/auth/deleteBook/';
        function deleteBook(element) {
            swal({
                title: "Konfirmasi",
                text: "Anda yakin ingin menghapus buku ini?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Ya!",
                confirmButtonColor: "#ec6c62"
            }, function () {
                $.ajax({
                    url: deleteBookUrl + element.attr('book-id'),
                    type: "GET",
                })
                    .done(function (data) {
                        swal("Terhapus!", data.message, "success");
                        element.closest('tr').remove();
                    })
                    .error(function (data) {
                        swal("Oops", data.responseText, "error");
                    });
            });
        }
    </script>
{% endblock %}