{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block title %}{{ book.judul }}{% endblock %}
{% block container %}
    <div class="col-md-4">
        <img style="max-width: 100%; display: block; margin-left: auto; margin-right: auto;" class="media-object"
             src="{% static 'books/' %}{{ book.cover }}"
             alt="cover">
        <br>
        <a href="{% url 'admin.book_edit' book.id %}" class="btn btn-warning btn-block"><span
                class="fa fa-pencil-square"></span> Edit buku</a>
    </div>
    <div class="col-md-8">
        <h5>{{ book.judul }}</h5>
        {{ book.keterangan|safe }}
        <hr>
        <div class="label label-primary">
            Penerbit: {{ book.penulis }} Pub. Tahun: {{ book.tahunTerbit|default:"2005" }}
        </div>
    </div>
{% endblock %}