{% extends 'auth/parent.html' %}
{% load staticfiles %}
{% block title %}Log Buku{% endblock %}
{% block container %}
    <div class="col-sm-offset-2 col-sm-8 col-md-8">
        <div class="todo" id="logs">
            <div class="todo-search">
                <input class="todo-search-field search" type="search" value="" placeholder="Log Pengujian Buku"/>
            </div>
            <ul class="list">
                {% for log in logs %}
                    <li>
                        <a target="spectab" href="{% url 'admin.show_log_book' %}?log={{ log }}">
                            <div class="todo-content">
                                <h4 class="todo-name log">
                                    {{ log }}
                                </h4>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block appscript %}
    <script src="{% static 'vendor/list.min.js' %}"></script>
    <script>
        var options = {
            valueNames: ['log']
        }
        var logs = new List('logs', options)
    </script>
{% endblock %}