{% load staticfiles %}
{% load jsonify %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/flat-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/bodyfixed.css' %}">
    {% block appcss %}
    {% endblock %}
    <title>{% block title %}Perpustakaan{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-default navbar-embossed navbar-fixed-top" style="border-radius: 0" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="{% url 'admin.index' %}">IR LSI</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-01">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Buku <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin.books_index' %}">Semua</a></li>
                    <li><a href="{% url 'admin.book_add' %}">Tambah</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pengujian <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin.test_book' %}">Buku</a></li>
                    <li><a href="{% url 'admin.test_query' %}">Query</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Log <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'admin.log_book' %}">Pengujian Buku</a></li>
                    <li><a href="{% url 'admin.log_query' %}">Pengujian Query</a></li>
                    <li><a href="{% url 'admin.show_log_svd' %}">Log SVD</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right: 5px">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">User <b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                    {#                    <li><a href="{% url 'admin.pengaturan' %}"><span class="fa fa-gear"></span> Pengaturan</a></li>#}
                    <li><a href="{% url 'admin.logout' %}"><span class="fa fa-sign-out"></span> Keluar</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav><!-- /navbar -->
<div class="container">
    {% block container %}
        <h5>Perpustakaan Apps!</h5>
    {% endblock %}
</div>
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="text-muted text-center">
            <a href="#" title="Learn about terms of service product">Privacy</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#" title="Learn about terms of service product">Terms of Service</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#" title="Read the libraries and licenses used">Libraries</a>
            <span role="presentation" aria-hidden="true"> · </span>
            <a href="#">Help</a>
        </div>
    </div>
</div>
<script src="{% static 'js/vendor/jquery.min.js' %}"></script>
<script src="{% static 'js/flat-ui.min.js' %}"></script>
<!--appscript-->
<script>
    //global variable to store app path/base_dir
    $SCRIPT_ROOT = {{ request.script_root | jsonify | safe }};

    (function ($) {
        // Focus state for append/prepend inputs
        $('.input-group').on('focus', '.form-control', function () {
            $(this).closest('.input-group, .form-group').addClass('focus');
        }).on('blur', '.form-control', function () {
            $(this).closest('.input-group, .form-group').removeClass('focus');
        });
    })(jQuery);
</script>
{% block appscript %}{% endblock %}
</body>
</html>